---
layout: page
description: "我干了什么 究竟拿了时间换了什么"
---

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {% if post.lang == 'en' %}
                {{ post.content | strip_html | truncate:100 }}
            {% else %}
                {{ post.content | strip_html | truncate:50 }}
            {% endif %}
        </div>
    </a>
    <p class="post-meta" style="margin: 0 0 20px;font-size: 13px;">
        Posted by {{ post.author }}
    </p>
</div>
<hr style="margin-top: 5px; margin-bottom: 5px;">
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; 上一页</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">下一页 &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
